.quote {
  padding: $grid-gutter-width/1.5;
  border-radius: 20px;
  max-width: 945px;
  width: 100%;
  position: relative;
  &:before,
  &:after{
    font-weight: $font-weight-light;
    line-height: 1;
    font-size: $grid-gutter-width * 2;
    position: absolute;
    margin-top: -$grid-gutter-width/2;
  }
  &:before{
    content: '“';
    top: 0;
    left: $grid-gutter-width/1.5;
  }
  &:after{
    content: '”';
    top: 100%;
    right: $grid-gutter-width/1.5;
  }
  &:not(:last-child){
    margin-bottom: $grid-gutter-width/2;
  }
}