.card-news__title {
  $font-size: rem(22px);
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  @include GatewayForProperty($font-size-lg, $font-size, $page-min-width, map_get($grid-breakpoints, 'xl'));
  &:not(:first-child){
    margin-top: $m * 2;
  }
  &:not(:last-child){
    margin-bottom: $m;
  }
}