.navigation__link {
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  position: relative;
  &:after{
    content: '';
    pointer-events: none;
    display: block;
    width: 100%;
    border-bottom: 2px solid transparent;
    transition: $transition-base;
    transition-property: border-bottom-color;
    position: absolute;
    top: 100%;
    @include media-breakpoint-up(lg){
      margin-top: $grid-gutter-width/3;
    }
  }
  @include hover(){
    &:after{
      border-bottom-color: inherit;
    }
  }
  @include plain-hover-focus(){
    color: inherit;
    text-decoration: none;
  }
}