.navigation__collapse {
  background-color: inherit;
  @include media-breakpoint-up(md){
    &.fade{
      display: block;
      opacity: 1;
    }
  }
  @include media-breakpoint-down(sm){
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
  }
}