.navigation__nav {
  list-style: none;
  font-size: $font-size-md;
  margin: 0 auto;
  padding-left: 0;
  padding-top: $grid-gutter-width/3;
  padding-bottom: $grid-gutter-width/3;
  @include make-container-max-widths();
  @include media-breakpoint-up(md){
    display: flex;
    flex-flow: row nowrap;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: -$grid-gutter-width/1.5;
    margin-right: -$grid-gutter-width/1.5;
  }
}