$pagination-padding-y:              rem(8px);
$pagination-padding-x:              rem(8px);
$pagination-padding-y-sm:           .25rem;
$pagination-padding-x-sm:           .25rem;
$pagination-padding-y-lg:           .75rem;
$pagination-padding-x-lg:           .75rem;
$pagination-line-height:            1.5;

.pagination {
  display: flex;
  @include list-unstyled();
  margin-bottom: 0;
}

.page-link {
  position: relative;
  display: block;
  padding: $pagination-padding-y $pagination-padding-x;
  line-height: $pagination-line-height;
  color: $gray-700;
  font-weight: $font-weight-bold;
  background-color: $pagination-bg;
  border-radius: 2rem;
  box-sizing: content-box;
  height: $pagination-line-height + em;
  min-width: $pagination-line-height + em;
  text-align: center;

  &:hover {
    z-index: 2;
    color: $pagination-hover-color;
    text-decoration: none;
    background-color: $pagination-hover-bg;
    border-color: $pagination-hover-border-color;
  }

  &:focus {
    z-index: 2;
    outline: none;
    box-shadow: none;
  }

  // Opinionated: add "hand" cursor to non-disabled .page-link elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
}

.page-item {
  &.active .page-link {
    z-index: 1;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;
  }

  &.disabled .page-link {
    color: $pagination-disabled-color;
    pointer-events: none;
    // Opinionated: remove the "hand" cursor set previously for .page-link
    cursor: auto;
    background-color: $pagination-disabled-bg;
    border-color: $pagination-disabled-border-color;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $line-height-lg, $border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $line-height-sm, $border-radius-sm);
}
