.card-news__more {
  font-size: $font-size-md;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: inherit;
  @include plain-hover-focus(){
    text-decoration: none;
  }
  @include hover(){
    color: $primary;
  }
}