$zindex: () !default;

$font-family-sans-serif: Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default
$gray-500: #aeaeae !default;
$gray-700: #4D4D4D !default;
$gray-800: #2e2e2e !default;
$gray-900: #191919 !default;

$orange: #e95a0e !default;
$green: #9fc100 !default;

$primary: $green !default;

$body-color:                $gray-900 !default;

$font-size-base: 1rem !default;
$font-size-lg:  rem(20px) !default;
$font-size-sm:  rem(12px) !default;
$font-size-md:  rem(14px) !default;

$line-height-sm: 1.5 !default;
$line-height-base: 1.6 !default;
$letter-spacing-base: 0.05em !default;


$display1-size:               80px !default;
$display2-size:               50px !default;
$display3-size:               40px !default;
$display4-size:               30px !default;

$grid-gutter-width: 30px !default;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px + $grid-gutter-width
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px + $grid-gutter-width
) !default;

$spacer: 30px !default;
$x: $spacer / 10;
$s: $spacer / 6;
$m: $spacer / 3;
$l: $spacer / 1.5;
$spacers: (
        auto: auto,
        x: $x,
        s: $s,
        m: $m,
        l: $l,
) !default;

$font-sizes: (
        'base': $font-size-base,
        'sm': $font-size-sm,
        'md': $font-size-md,
        'lg': $font-size-lg,
) !default;
