.header {
  color: $white;
  position: relative;
  flex-shrink: 0;
  width: 100%;
  z-index: 2;
  padding-top: $grid-gutter-width/2;
  padding-bottom: $grid-gutter-width/2;
  margin-bottom: $grid-gutter-width;
  background-color: $orange;
  @include media-breakpoint-up(sm){
    padding-top: 35px;
    padding-bottom: $grid-gutter-width;
  }
  @include media-breakpoint-up(lg){
    height: 120px;
    color: inherit;
    background-color: transparent;
  }
}