.footer {
  position: relative;
  background-color: $gray-800;
  padding-top: 50px;
  padding-bottom: $grid-gutter-width;
  flex-shrink: 0;
  z-index: 0;
  color: $gray-500;
  @include media-breakpoint-up(md){
    &:before{
      content: '';
      position: absolute;
      display: block;
      background-image: url(images/white.svg);
      background-repeat: no-repeat;
      background-position: calc(50% - 230px) 0;
      background-size: 2405px 145px;
      height: 145px;
      left: 0;
      width: 100%;
      bottom: 100%;
      pointer-events: none;
      background-color: inherit;
    }
  }
}