.footer__nav {
  font-size: $font-size-md;
  column-count: 3;
  column-width: 130px;
  column-gap: $grid-gutter-width;
  list-style: none;
  padding: 0;
  margin-top: -$m;
  margin-bottom: -$m;
  line-height: 1.2;
  li {
    display: inline-block;
    width: 100%;
    padding-top: $m;
    padding-bottom: $m;
  }
  .a{
    color: inherit;
    transition: $transition-base;
    transition-property: color;
    @include hover(){
      color: $white;
    }
    @include hover-focus-active(){
      text-decoration: none;
    }
  }
}