.navigation__control {
  position: relative;
  height: $grid-gutter-width/1.5;
  width: $grid-gutter-width;
  float: right;
  padding: 0;
  color: inherit;
  @include plain-hover-focus(){
    background: none;
    border: none;
  }
  i{
    content: '';
    transition: $transition-base;
    position: absolute;
    width: inherit;
    border-bottom: 2px solid;
    height: 0;
    display: block;
    top: 50%;
    margin-top: -1px;
    &:first-child{top: 0}
    &:last-child{
      top: auto;
      bottom: 0;
    }
  }
  &.opened{
    i{
      top: 50%;
      margin-top: -1px;
      transform: rotate(-45deg);
      &:not(:first-child){
        transform: rotate(45deg);
      }
    }
  }
  @include media-breakpoint-up(md) {
    display: none;
  }
}