.developer__logo {
  position: relative;
  overflow: hidden;
  display: inline-block;
  transform: translate3d(0, 0, 0);
  pointer-events: none;
  path {
    fill: $gray-500;
  }
  .developer:hover &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: developer__logo 4s linear infinite;
    transform: translateX(-100%);
    background-image: linear-gradient(
                    45deg,
                    rgba($gray-800, 0) 0%,
                    rgba($gray-800, 0.9) 50%,
                    rgba($gray-800, 0) 100%);
  }
}
@keyframes developer__logo {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(100%);
  }
}