.section__title_variant {
  &_smile{
    &:after{
      content: '';
      pointer-events: none;
      display: block;
      height: $grid-gutter-width/2;
      background-image: url('../../images/smile.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}