.header_type_sticky {
  position: absolute;
  background-color: transparent;
  @include media-breakpoint-up(lg){
    background-image: url(../images/white.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 230px) 0;
    background-size: 2405px 120px;
  }
}