.social__title {
  font-weight: bold;
  text-transform: uppercase;
  color: inherit;
  &:not(:last-child){
    margin-bottom: $grid-gutter-width/3;
  }
  .footer & {
    @include media-breakpoint-up(md){
      position: absolute;
      top: - $grid-gutter-width;
    }
  }
}