.social__nav {
  font-size: $font-size-lg;
  list-style: none;
  margin: $grid-gutter-width/-3;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  .footer & {
    @include media-breakpoint-up(md){
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  }
}