.navigation__item {
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  @include media-breakpoint-only(sm){
    font-size: $font-size-lg;
  }
  @include media-breakpoint-down(sm){
    &:not(:last-child){
      margin-bottom: $grid-gutter-width/3;
    }
  }
  @include media-breakpoint-up(md) {
    padding-left: $grid-gutter-width/1.5;
    padding-right: $grid-gutter-width/1.5;
  }
}