@mixin button-colors($button, $color) {
  .social-likes__widget_#{$button} {
    background: $color;
    .social-likes__icon:before{
      @include fi($button);
      @if($button == 'vkontakte') {
        font-size: 70%;
      }
    }
  }
}
.social-likes{
  line-height: 1;
  &__widget{
    display: inline-block;
    width: $line-height-base+em;
    height: $line-height-base+em;
    text-align: center;
    color: $white;
    cursor: pointer;
    border-radius: $border-radius-sm;
  }
  &__icon{
    cursor: pointer;
    white-space: nowrap;
    &:before{
      vertical-align: middle;
    }
    &:after{
      content: '';
      height: 100%;
      width: 1px;
      margin-left: -1px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

// Facebook
@include button-colors('facebook', #3d5b95);
// Twitter
@include button-colors('twitter', #24aadd);
// Google+
@include button-colors('plusone', #d23e30);
// Mail.ru
@include button-colors('mailru', #00468c);
// Vkontakte
@include button-colors('vkontakte', #587e9f);
// Odnoklassniki
@include button-colors('odnoklassniki', #f59310);
// Pinterest
@include button-colors('pinterest', #cb132d);
