.section__title {
  $font-size: rem(20px);
  font-size: $font-size;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  text-align: center;
  &:not(:last-child){
    margin-bottom: $l;
  }
}